.nai{
    text-align: center;
    align-items: center;
    margin-top: 300px;
    color: white;
    
}
body{
    background-image: url('https://i.pinimg.com/564x/30/ad/b0/30adb0590cdf9524f5a4a85d8ee56f13.jpg');
    
}
